:root {
  --col-white-1:#fff;
  --col-dark-1:#000;
  --bg-inL-1:#ffc316;
  --bg-inD-2:#ff9216;
  --bg-outD-1:#ee0031;
  --bg-outL-2:#ee0047;

  --fontFami-Montserrat:Montserrat, sans-serif;
  --fontFami-Raleway:Raleway, sans-serif;

  --transition: all 400ms ease;
}


.top__fixedBanner{
  background-image: url('../image/Banner2.png');
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center left;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.top__bannerOverlay{
  position: absolute;
  min-height: 80vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .top__content{
  margin-top: 10em;
} */

.top__title{
  font-family: var(--fontFami-Montserrat);
  font-weight: 700;
  color: var(--col-white-1);
  font-size: 48px;
}

.top__subTitle{
  font-family: var(--fontFami-Raleway);
  font-weight: 600;
  color: var(--col-white-1);
  font-size: 22px;
}

/* Serviceses section */
.service__title{
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.service__img1{
  height: 80px;
  width: 80px;
}

.service__card{
  border: 2px solid transparent;
  margin: 5px;
  height: 22rem;
  padding: 60px 30px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  transition: var(--transition);
  background-color: var(--bg-outL-2);
  text-align: center;
}

.service__card:hover{
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.8);
  border-color: var(--bg-outD-1);
  background-color: transparent;
}

.service__name{
  margin-top: 1rem;
  font-family: var(--fontFami-Raleway);
  font-size: 26px;
  font-weight: 700;
}

.service__discription{
  color: var(--col-dark-1);
  margin-top: 1rem;
  font-family: var(--fontFami-Raleway);
  font-size: 15px;
  font-weight: 700;
}

.service__title{
  font-family: var(--fontFami-Montserrat);
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 28px;
}

.service__titleBottom{
  background: var(--bg-outL-2) none repeat scroll 0 0;
  height: 3px;
  width: 100px;
  margin: -1.9rem auto 0;
  margin-bottom: 3rem;
}

/* Navigation Section */
.nav__title, .nav__titleScroll{
  font-family: var(--fontFami-Montserrat);
  font-weight: 700;
  font-size: 30px;
  color: #fff !important;
}

.nav__titleScroll{
  color: var(--bg-inL-1) !important;
}

.nav__background{
  background-color: rgb(00, 00, 00, 0.1) !important;
  transition: background-color 400ms linear;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
}

.nav__backgroundScroll{
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  background-color: var(--bg-outL-2);
  transition: background-color 400ms linear;
}

.nav__list{
  color: var(--col-white-1) !important;
}
#collasible-nav-dropdown{
  color: var(--col-white-1);
}