:root {
  --col-white-1:#fff;
  --col-dark-1:#000;
  --bg-inL-1:#ffc316;
  --bg-inD-2:#ff9216;
  --bg-outD-1:#ee0031;
  --bg-outL-2:#ee0047;

  --fontFami-Montserrat:Montserrat, sans-serif;
  --fontFami-Raleway:Raleway, sans-serif;

  --transition: all 400ms ease;
}

/* .carosel__conMain{
  height: 80vh;
}

.carosel__con{
  height: fit-content;
}

.imgWidth{
  width: 100%;
} */

.top__fixedBanner{
  background-image: url('../image/Banner2.png');
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center right;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.top__bannerOverlay{
  position: absolute;
  min-height: 80vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .top__content{
  margin-top: 10em;
} */

.top__title{
  font-family: var(--fontFami-Montserrat);
  font-weight: 700;
  color: var(--col-white-1);
  font-size: 48px;
}

.top__subTitle{
  font-family: var(--fontFami-Raleway);
  font-weight: 600;
  color: var(--col-white-1);
  font-size: 22px;
}

/* Serviceses section */
.service__title{
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.service__img1{
  height: 80px;
  width: 80px;
}

.service__card, .activity__card{
  border: 4px solid transparent !important;
  margin: 5px;
  height: 22rem;
  padding: 60px 30px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  transition: var(--transition);
  background-color: var(--bg-outL-2) !important;
  text-align: center;
}

.service__card:hover, .activity__card:hover{
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.8);
  border-color: var(--bg-outD-1) !important;
  background-color: transparent !important;
}

.service__name{
  margin-top: 1rem !important;
  font-family: var(--fontFami-Raleway);
  font-size: 26px !important;
  font-weight: 700 !important;
  color: var(--col-white-1);
}

.service__discription{
  color: var(--col-dark-1);
  margin-top: 1rem;
  font-family: var(--fontFami-Raleway);
  font-size: 15px;
  font-weight: 700;
}

.service__title{
  font-family: var(--fontFami-Montserrat);
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 28px;
}

.service__titleBottom{
  background: var(--bg-outL-2) none repeat scroll 0 0;
  height: 3px;
  width: 100px;
  margin: -1.9rem auto 0;
  margin-bottom: 3rem;
}

/* Navigation Section */
.nav__title, .nav__titleScroll{
  font-family: var(--fontFami-Montserrat);
  font-weight: 700;
  font-size: 30px;
  color: #fff !important;
}

.nav__titleScroll{
  color: var(--bg-inL-1) !important;
}

.nav__background{
  background-color: rgb(00, 00, 00, 0.1) !important;
  transition: background-color 400ms linear;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
}

.nav__backgroundScroll{
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  background-color: var(--bg-outL-2);
  transition: background-color 400ms linear;
}

.nav__list, #collasible-nav-dropdown{
  /* text-decoration: none !important; */
  color: var(--col-white-1) !important;
  font-family: var(--fontFami-Montserrat);
  font-size: 15px !important;
  font-weight: 700 !important;
}

.nav__sideOne{
  width: 20%;
}

.nav__sideTwo{
  width: 80%;
  justify-content: right;
}

/* Summary Section */
.top__fixedBanner1{
  background-image: url('../image/nysc.png');
  min-height: 400px;
  background-attachment: fixed;
  background-position: top left;
  width: 100%;
}

.top__bannerOverlay2{
  position: absolute;
  min-height: 400px;
  width: 100%;
  background-color: rgb(238, 0, 71, 0.8);
}

.count__number, .count__title{
  font-family: var(--fontFami-Montserrat);
  font-weight: 700;
  font-size: 40px;
  color: var(--col-dark-1)!important;
}

.count__title{
  font-family: var(--fontFami-Raleway);
  font-weight: 600;
  font-size: 22px;
  color: var(--col-white-1)!important;
}

.count__line{
  width: 50%;
  height: 5px;
  margin: auto;
  background-color: var(--col-white-1);
}

.count__section{
  margin-top: 20% !important;
}

.summaery__cardContainer1{
  background-color: var(--bg-inD-2) !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  transition: var(--transition);
  border: 2px solid transparent !important;
  margin-top: 25%;
  padding: 10px;
  border-radius: 3px;
}

.summaery__cardContainer1:hover{
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.8);
  border-color: var(--bg-inL-1) !important;
  background-color: rgb(238, 0, 71, 0.8) !important;
}

.summaery__cardTitle{
  color: var(--col-dark-1);
  font-family: var(--fontFami-Montserrat);
  font-weight: 700 !important;
  font-size: 15px !important;
}

.summaery__cardSubTitle{
  font-family: var(--fontFami-Raleway);
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.summary__iconBullet{
  color: var(--col-dark-1);
  font-size: 16px;
}

.summary__iconHead{
  color: var(--bg-inL-1);
  font-size: 40px;
}

/* Activity Section */
.activity__card{
  padding: 0px 0px;
  margin: 1em;
  width: 22em;
  border-radius: 0.6em;
  cursor: pointer;
}

.activity__card:hover{
  transform: scale(1.03);
}

/* Courses Section */
.course__image{
  width: 100%;
}

.course__viewMore{
  color: var(--bg-outL-2);
  font-family: var(--fontFami-Montserrat);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.course__name{
  font-size: 20px !important;
}

.course__des{
  font-size: 12px !important;
}

/* Videos section */
.video__card{
  box-shadow: 0 13px 20px -5px rgba(0, 0, 0, 0.8);
  padding: 8rem 3rem;
  background-color: var(--bg-outL-2);
  margin: 5% auto;
  border-radius: 5px;
}

.video__text{
  margin-top: 2% !important;
}